[lint]
select = [
  "A",
  "ANN",
  "ARG",
  "B",
  "C4",
  "COM",
  "D",
  "E",
  "F",
  "FA",
  "FLY",
  "FURB",
  "I",
  "ISC",
  "N",
  "PERF",
  "PIE",
  "PL",
  "Q",
  "RET",
  "RSE",
  "RUF",
  "S",
  "SIM",
  "T20",
  "TRY",
  "UP",
  "W",
]
ignore = [
  "ANN204",
  "ANN401",
  "COM812",
  "D100",
  "D104",
  "D203",
  "D212",
  "S101",
  "S311",
  "PLR0913",
  "PLR2004",
  "TRY003",
]
